# Module 3 Lab

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv(r"C:\Users\Gokul\OneDrive\Desktop\UC_Notes\Statistical Computing\heart.csv")
df.shape

(303, 14)

In [3]:
df.head()

,age,sex,chest_pain,rest_bp,chol,fbs,rest_ecg,max_hr,exang,old_peak,slope,ca,thal,disease
0,63,Male,typical,145,233,1,left ventricular hypertrophy,150,0,2.3,3,0.0,fixed,0
1,67,Male,asymptomatic,160,286,0,left ventricular hypertrophy,108,1,1.5,2,3.0,normal,1
2,67,Male,asymptomatic,120,229,0,left ventricular hypertrophy,129,1,2.6,2,2.0,reversable,1
3,37,Male,nonanginal,130,250,0,normal,187,0,3.5,3,0.0,normal,0
4,41,Female,nontypical,130,204,0,left ventricular hypertrophy,172,0,1.4,1,0.0,normal,0

# Subsetting data

#### 1 Filter the heart data for all observations where the person is 50 years or older. How many observations are there?

In [4]:
age_50= df[df['age']>=50]
print('the total number of observations are',age_50.shape[0])

the total number of observations are 216

#### 2 Using the original heart data, filter for those observations that are male and 50 years or older. How many observations are there.

In [5]:
male_50= df[(df['age'] >= 50) & (df['sex'] == 'Male')]
print('the total number of observations are', male_50.shape[0])

the total number of observations are 143

#### 3 Using the original heart data, filter for those observations that are female, 50 years or younger, and have the disease (disease = 1). Select chest_pain , chol , and max_hr columns. How many rows and columns are in the resulting DataFrame?

In [6]:
filtered = df[(df['sex'] == 'Female') & (df['age'] <= 50) & (df['disease'] == 1)][['chest_pain', 'chol', 'max_hr']]

print('the total number of rows are', filtered.shape)
filtered

the total number of rows are (1, 3)

       chest_pain  chol  max_hr
113  asymptomatic   341     136

# Manipulating data

#### 1 Are there any missing values in this data? If so, which columns? For these columns, fill the missing values with the value that appears most often (aka "mode").

In [7]:
df.isna().sum()

age           0
sex           0
chest_pain    0
rest_bp       0
chol          0
fbs           0
rest_ecg      0
max_hr        0
exang         0
old_peak      0
slope         0
ca            4
thal          2
disease       0
dtype: int64

#### Yes there are missing values in this data in the 'ca' and 'thal' columns

In [8]:
cols = ['ca', 'thal']

for col in cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [9]:
df.isna().sum()

age           0
sex           0
chest_pain    0
rest_bp       0
chol          0
fbs           0
rest_ecg      0
max_hr        0
exang         0
old_peak      0
slope         0
ca            0
thal          0
disease       0
dtype: int64

#### All the missing values are filled with mode

In [10]:
df.head()

,age,sex,chest_pain,rest_bp,chol,fbs,rest_ecg,max_hr,exang,old_peak,slope,ca,thal,disease
0,63,Male,typical,145,233,1,left ventricular hypertrophy,150,0,2.3,3,0.0,fixed,0
1,67,Male,asymptomatic,160,286,0,left ventricular hypertrophy,108,1,1.5,2,3.0,normal,1
2,67,Male,asymptomatic,120,229,0,left ventricular hypertrophy,129,1,2.6,2,2.0,reversable,1
3,37,Male,nonanginal,130,250,0,normal,187,0,3.5,3,0.0,normal,0
4,41,Female,nontypical,130,204,0,left ventricular hypertrophy,172,0,1.4,1,0.0,normal,0

#### 2 Create a new column called risk that is equal to . What is the mean of this risk column?

In [11]:
df['risk'] = df['age'] / (df['rest_bp'] + df['chol'] + df['max_hr'])
df

,age,sex,chest_pain,rest_bp,chol,fbs,rest_ecg,max_hr,exang,old_peak,slope,ca,thal,disease,risk
0,63,Male,typical,145,233,1,left ventricular hypertrophy,150,0,2.3,3,0.0,fixed,0,0.119318
1,67,Male,asymptomatic,160,286,0,left ventricular hypertrophy,108,1,1.5,2,3.0,normal,1,0.120939
2,67,Male,asymptomatic,120,229,0,left ventricular hypertrophy,129,1,2.6,2,2.0,reversable,1,0.140167
3,37,Male,nonanginal,130,250,0,normal,187,0,3.5,3,0.0,normal,0,0.065256
4,41,Female,nontypical,130,204,0,left ventricular hypertrophy,172,0,1.4,1,0.0,normal,0,0.081028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,Male,typical,110,264,0,normal,132,0,1.2,2,0.0,reversable,1,0.088933
299,68,Male,asymptomatic,144,193,1,normal,141,0,3.4,2,2.0,reversable,1,0.142259
300,57,Male,asymptomatic,130,131,0,normal,115,1,1.2,2,1.0,reversable,1,0.151596
301,57,Female,nontypical,130,236,0,left ventricular hypertrophy,174,0,0.0,2,1.0,normal,1,0.105556
302,38,Male,nonanginal,138,175,0,normal,173,0,0.0,1,0.0,normal,0,0.078189

In [12]:
print('the mean of column risk is, ',df['risk'].mean())

the mean of column risk is,  0.10426734916395465

#### 3 Replace the values in the rest_ecg column so that:

normal = normal

left ventricular hypertrophy = lvh

ST-T wave abnormality = stt_wav_abn Hint: one of the original values may have an extra space at the end of the name! How many observations fall into each of the new rest_ecg categories?

In [13]:
df['rest_ecg'].value_counts()

normal                           151
left ventricular hypertrophy     148
ST-T wave abnormality              4
Name: rest_ecg, dtype: int64

In [14]:
df['rest_ecg'] = df['rest_ecg'].replace({
    'normal': 'normal',
    'left ventricular hypertrophy ': 'lvh',
    'ST-T wave abnormality': 'stt_wav_abn'
})

# Count the number of observations in each category
df['rest_ecg'].value_counts()

normal         151
lvh            148
stt_wav_abn      4
Name: rest_ecg, dtype: int64

In [15]:
df['rest_ecg'].unique()

array(['lvh', 'normal', 'stt_wav_abn'], dtype=object)

# Summarizing data

#### 1 What is the mean resting blood pressure for males and females?

In [35]:
mean_bp= df['rest_bp'].mean()
mean_bp

131.68976897689768

In [40]:
# Mean resting BP for males
male_mean = df[df['sex'] == 'Male']['rest_bp'].mean()

# Mean resting BP for females
female_mean = df[df['sex'] == 'Female']['rest_bp'].mean()

print("Mean resting BP for males:", male_mean)
print("Mean resting BP for females:", female_mean)

Mean resting BP for males: 130.9126213592233
Mean resting BP for females: 133.340206185567

#### 2 What is the mean and median cholesterol levels for males and females?

In [42]:
# Mean and median cholesterol for males
male_mean_chol = df[df['sex'] == 'Male']['chol'].mean()
male_median_chol = df[df['sex'] == 'Male']['chol'].median()

# Mean and median cholesterol for females
female_mean_chol = df[df['sex'] == 'Female']['chol'].mean()
female_median_chol = df[df['sex'] == 'Female']['chol'].median()

print("Male mean chol:", male_mean_chol)
print("Male median chol:", male_median_chol)
print("Female mean chol:", female_mean_chol)
print("Female median chol:", female_median_chol)

Male mean chol: 239.60194174757282
Male median chol: 235.0
Female mean chol: 261.7525773195876
Female median chol: 254.0

#### 3 Which age group has the largest median cholesterol levels for males?

In [44]:
# Filter for males only
males = df[df['sex'] == 'Male']

# Group by age and calculate median cholesterol
median_chol_by_age = males.groupby('age')['chol'].median()

# Find the age (or age group) with the highest median cholesterol
highest_median_age = median_chol_by_age.idxmax()
highest_median_value = median_chol_by_age.max()

print("Age with highest median cholesterol (males):", highest_median_age)
print("Median cholesterol at that age:", highest_median_value)

Age with highest median cholesterol (males): 77
Median cholesterol at that age: 304.0

#### 4 Compute mean risk value (the risk column was created in problem 2 of the "Manipulating data"section) for each age and sex. Which gender and age group has the highest average risk value? 

ùëéùëîùëí res_bp+ùëê‚Ñéùëúùëô+max_hr

In [47]:
# Compute mean risk for each age and sex
risk_mean = df.groupby(['age', 'sex'])['risk'].mean().reset_index()

# Find the group with the highest average risk
highest_risk = risk_mean.loc[risk_mean['risk'].idxmax()]

print("Mean risk by age and sex:\n", risk_mean)
print("\nGroup with highest average risk:\n", highest_risk)

Mean risk by age and sex:
     age     sex      risk
0    29    Male  0.054104
1    34  Female  0.065385
2    34    Male  0.071730
3    35  Female  0.069583
4    35    Male  0.070634
..  ...     ...       ...
68   70    Male  0.135125
69   71  Female  0.146105
70   74  Female  0.145098
71   76  Female  0.167770
72   77    Male  0.130288

[73 rows x 3 columns]

Group with highest average risk:
 age          76
sex      Female
risk    0.16777
Name: 71, dtype: object